.lightmode {
	// custom variables light mode
	--background-color: #f7edf0;
	--nav-background-color: #50282f;
	--nav-acrylic: #50282fea;
	--nav-links: #ffffff;
	--nav-hover: #ff857e;
	--text: #011627;
	--text-highlight: #e63958;
	--text-footer: #ffffff;
	--colormode-border: #ffffff;
	--colormode-within: #df6980;
	--colormode-hover: #e798a763;
	--scroll: #df6980;
}

.darkmode {
	// custom variables dark mode
	--background-color: #1e1919;
	--nav-background-color: #42212b;
	--nav-acrylic: #42212bbb;
	--nav-links: #ffffff;
	--nav-hover: #f3607b;
	--text: #ffffff;
	--text-highlight: #f3607b;
	--text-footer: #ffffff;
	--colormode-within: #ffffff;
	--colormode-border: #df6980;
	--colormode-hover: #e798a763;
	--scroll: #df6980;
}
