.lightmode {
	// custom variables light mode
	--background-color: #f7edf0;
	--nav-background-color: #50282f;
	--nav-acrylic: #50282fe3;
	--nav-links: #ffffff;
	--nav-hover: #ff857e;
	--text: #011627;
	--text-highligts: #e63958;
	--text-footer: #ffffff;
}

.darkmode {
	// custom variables dark mode
	--background-color: #1e1919;
	--nav-background-color: #42212b;
	--nav-acrylic: #42212be3;
	--nav-links: #ffffff;
	--nav-hover: #f3607b;
	--text: #ffffff;
	--text-highligts: #f3607b;
	--text-footer: #ffffff;
}
