@use "animations";
@use "colormode";
@use "stylemixins";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// fonts
// font-family: 'Lato', sans-serif;
// font-family: 'Work Sans', sans-serif;

body {
	background-color: var(--background-color);
	font-family: "Work Sans", sans-serif;
	color: var(--text);
	transition: 0.2s ease-in-out all;
}

// scrollbar
::-webkit-scrollbar {
	width: 10px;

	&-track {
		background-color: var(--nav-acrylic);
		width: 5px;
	}

	&-thumb {
		background-color: var(--scroll);
		border-radius: 1em;
	}
}

nav {
	display: flex;
	background-color: var(--nav-background-color);
	padding: 1em 2em;
	position: sticky;
	top: 0;
	transition: 0.2s ease-in-out all;
	border-bottom: 1em #50282f;
	z-index: 10;

	// acrylic styling on scroll
	&.acrylic {
		background-color: var(--nav-acrylic);
		backdrop-filter: blur(2em);
	}

	// nav darkmode button
	input {
		appearance: none;
		width: 3em;
		height: 3em;
		background-color: var(--colormode-outer);
		border-radius: 2em;
		transition: ease-in-out all 0.2s;
		cursor: pointer;
		position: relative;

		&::before {
			content: "";
			width: 1.1em;
			height: 2.1em;
			border-radius: 0 1em 1em 0;
			background-color: var(--colormode-inner);
			position: absolute;
			top: 15%;
			right: 15%;
			transition: ease-in-out all 0.2s;
		}

		&:hover {
			@include animations.pulsing;
			background-color: var(--colormode-hover-outer);
			transition: ease-in-out all 0.2s;

			&::before {
				background-color: var(--colormode-hover-inner);
			}
		}
	}

	// nav links
	a {
		color: var(--nav-links);
		text-decoration: none;
		transition: 0.2s ease-in-out;
		position: relative;

		&::after {
			background-color: var(--nav-links);
			transition: all 0.2s ease-in-out;
			content: "";
			display: block;
			position: absolute;
			width: 0;
			bottom: 0;
			right: 0;
			height: 0.14em;
			margin: -0.4em 0;
			border-radius: 25px;
		}

		&:hover {
			color: var(--nav-hover);
			transition: all 0.2s ease-in-out;
		}

		&:hover::after {
			background-color: var(--nav-hover);
			left: 0;
			width: 100%;
		}
	}

	.logo {
		flex-grow: 1;

		img {
			height: 6vh;
		}
	}

	.links {
		display: flex;
		gap: 2em;
		align-items: center;
		flex-wrap: wrap;
		margin-left: 1em;
	}
}

// stripes
.stripe1 {
	@include stylemixins.stripe1;
	background-color: var(--stripe1);
	margin-top: 200px;
}

// for the animations
.fade-in {
	// @include fade-in;
	@include animations.fade-in;
}
