@use "animations";
@use "colormode";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// fonts
// font-family: 'Lato', sans-serif;
// font-family: 'Work Sans', sans-serif;

body {
	background-color: var(--background-color);
	font-family: "Work Sans", sans-serif;
	height: 500vh;
	color: var(--text);
	transition: 0.2s ease-in-out all;
}

// scrollbar
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--nav-acrylic);
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll);
	border-radius: 1em;
}

nav {
	display: flex;
	background-color: var(--nav-background-color);
	padding: 1em 2em;
	position: sticky;
	top: 0;
	transition: 0.2s ease-in-out all;
	border-bottom: 1em #50282f;

	// acrylic styling on scroll
	&.acrylic {
		background-color: var(--nav-acrylic);
		backdrop-filter: blur(2em);
	}

	// nav darkmode button
	input {
		appearance: none;
		width: 3em;
		height: 3em;
		background-color: var(--colormode-border);
		border-radius: 2em;
		transition: ease-in-out all 0.2s;
		cursor: pointer;
		position: relative;

		&::before {
			content: "";
			width: 1.1em;
			height: 2.1em;
			border-radius: 0 1em 1em 0;
			background-color: var(--colormode-within);
			position: absolute;
			top: 15%;
			right: 15%;
		}

		&:hover {
			@include animations.pulsing;
		}
	}

	// nav links
	a {
		color: var(--nav-links);
		text-decoration: none;
		transition: 0.2s ease-in-out;
		position: relative;

		&::after {
			background-color: var(--nav-links);
			transition: all 0.2s ease-in-out;
			content: "";
			display: block;
			position: absolute;
			width: 0;
			bottom: 0;
			right: 0;
			height: 0.14em;
			margin: -0.4em 0;
			border-radius: 25px;
		}

		&:hover {
			color: var(--nav-hover);
			transition: all 0.2s ease-in-out;
		}

		&:hover::after {
			background-color: var(--nav-hover);
			left: 0;
			width: 100%;
		}
	}

	.logo {
		flex-grow: 1;

		img {
			height: 6vh;
		}
	}

	.links {
		display: flex;
		gap: 1em;
		align-items: center;
		flex-wrap: wrap;
		margin-left: 1em;
	}
}

// for the animations
.fade-in {
	// @include fade-in;
	@include animations.fade-in;
}
