// custom variables
$background-color: #f7edf0;
$nav-background-color: #42212b;
$nav-acrylic: #50282fe3;
$nav-links: #ffffff;
$nav-hover: #ff857e;

input:checked {
	body.dark-mode {
		// custom variables dark mode
		$background-color: #191919;
		$nav-background-color: #42212b;
		$nav-acrylic: #42212be3;
		$nav-hover: #f3607b;
	}
}
